lib/schema/choir.rnc

default namespace = "http://www.chorusroom.org/choir"
namespace ns1 = "http://www.chorusroom.org/character"

start =
  element choir {
    attribute moduleVersion { xsd:NMTOKEN "1.0" },
    element include {
      attribute href { xsd:string }?
    }*,
    element urn { xsd:string },
    name,
    url,
    element prefecture { xsd:string }?,
    element choir-type {
      xsd:NMTOKEN "same-voice"
      | xsd:NMTOKEN "female"
      | xsd:NMTOKEN "male"
      | xsd:NMTOKEN "children"
      | xsd:NMTOKEN "mixed"
    }?,
    element kind {
      xsd:NMTOKEN "univ"
      | xsd:NMTOKEN "junior-highschool"
      | xsd:NMTOKEN "senior-highschool"
      | xsd:NMTOKEN "general"
      | xsd:NMTOKEN "children"
      | xsd:NMTOKEN "company"
    },
    element comment {
      mixed { utf8-char }
    }?,
    element contact {
      name?,
      element email { xsd:string },
      url?
    }?
  }
name =
  element name {
    attribute yomi { xsd:string }?,
    mixed { utf8-char }
  }
url = element url { xsd:string }
utf8-char =
  element ns1:utf8-char {
    attribute nickname {
      xsd:string "Uacute"
      | xsd:string "THORN"
      | xsd:string "romanII"
      | xsd:string "ubrcy"
      | xsd:string "shcy"
      | xsd:string "maru1"
      | xsd:string "romanVII"
      | xsd:string "udblac"
      | xsd:string "Imacr"
      | xsd:string "romanii"
      | xsd:string "KHcy"
      | xsd:string "lcedil"
      | xsd:string "ljcy"
      | xsd:string "romanI"
      | xsd:string "aelig"
      | xsd:string "maru20"
      | xsd:string "Nacute"
      | xsd:string "Ubrcy"
      | xsd:string "ENG"
      | xsd:string "maru19"
      | xsd:string "Tcedil"
      | xsd:string "dscy"
      | xsd:string "Zdot"
      | xsd:string "Cdot"
      | xsd:string "scy"
      | xsd:string "Ccaron"
      | xsd:string "none"
      | xsd:string "uogon"
      | xsd:string "napos"
      | xsd:string "Wcirc"
      | xsd:string "Tstrok"
      | xsd:string "omacr"
      | xsd:string "iukcy"
      | xsd:string "djcy"
      | xsd:string "oslash"
      | xsd:string "ETH"
      | xsd:string "numero"
      | xsd:string "Abreve"
      | xsd:string "Gdot"
      | xsd:string "eth"
      | xsd:string "ijlig"
      | xsd:string "rcaron"
      | xsd:string "lcaron"
      | xsd:string "Scedil"
      | xsd:string "Yacute"
      | xsd:string "YAcy"
      | xsd:string "acy"
      | xsd:string "Oslash"
      | xsd:string "atilde"
      | xsd:string "romanviii"
      | xsd:string "TSHcy"
      | xsd:string "Lmidot"
      | xsd:string "NJcy"
      | xsd:string "Jsercy"
      | xsd:string "edot"
      | xsd:string "dcy"
      | xsd:string "zdot"
      | xsd:string "DJcy"
      | xsd:string "IEcy"
      | xsd:string "kgreen"
      | xsd:string "ccirc"
      | xsd:string "ugrave"
      | xsd:string "IOcy"
      | xsd:string "otilde"
      | xsd:string "euml"
      | xsd:string "eng"
      | xsd:string "romanM"
      | xsd:string "Vcy"
      | xsd:string "Ycirc"
      | xsd:string "ecaron"
      | xsd:string "icirc"
      | xsd:string "OElig"
      | xsd:string "romanL"
      | xsd:string "Ncaron"
      | xsd:string "abreve"
      | xsd:string "Egrave"
      | xsd:string "Rcy"
      | xsd:string "oacute"
      | xsd:string "Scy"
      | xsd:string "uuml"
      | xsd:string "Idot"
      | xsd:string "Ocirc"
      | xsd:string "Euml"
      | xsd:string "scedil"
      | xsd:string "ecy"
      | xsd:string "Acy"
      | xsd:string "thorn"
      | xsd:string "Ccedil"
      | xsd:string "maru5"
      | xsd:string "Fcy"
      | xsd:string "ccedil"
      | xsd:string "romanX"
      | xsd:string "auml"
      | xsd:string "gcy"
      | xsd:string "uacute"
      | xsd:string "Iukcy"
      | xsd:string "gacute"
      | xsd:string "romanm"
      | xsd:string "cdot"
      | xsd:string "pcy"
      | xsd:string "Gcy"
      | xsd:string "Agrave"
      | xsd:string "Gcirc"
      | xsd:string "Tcy"
      | xsd:string "Ecaron"
      | xsd:string "ccaron"
      | xsd:string "ograve"
      | xsd:string "romaniii"
      | xsd:string "romanD"
      | xsd:string "Scirc"
      | xsd:string "Dstrok"
      | xsd:string "Igrave"
      | xsd:string "romanIII"
      | xsd:string "chcy"
      | xsd:string "Bcy"
      | xsd:string "Hcirc"
      | xsd:string "rcy"
      | xsd:string "romanxii"
      | xsd:string "Ugrave"
      | xsd:string "Iogon"
      | xsd:string "fcy"
      | xsd:string "Acirc"
      | xsd:string "Ccirc"
      | xsd:string "romanXII"
      | xsd:string "Iuml"
      | xsd:string "Gcedil"
      | xsd:string "maru6"
      | xsd:string "romanl"
      | xsd:string "maru7"
      | xsd:string "Ucy"
      | xsd:string "rcedil"
      | xsd:string "ecirc"
      | xsd:string "zcaron"
      | xsd:string "oelig"
      | xsd:string "maru13"
      | xsd:string "Udblac"
      | xsd:string "ncedil"
      | xsd:string "jsercy"
      | xsd:string "lmidot"
      | xsd:string "zcy"
      | xsd:string "Racute"
      | xsd:string "aacute"
      | xsd:string "dzcy"
      | xsd:string "Icy"
      | xsd:string "ocirc"
      | xsd:string "Rcaron"
      | xsd:string "romanV"
      | xsd:string "ubreve"
      | xsd:string "wcirc"
      | xsd:string "Lacute"
      | xsd:string "Kcy"
      | xsd:string "TScy"
      | xsd:string "ouml"
      | xsd:string "SHCHcy"
      | xsd:string "lacute"
      | xsd:string "Utilde"
      | xsd:string "lstrok"
      | xsd:string "iecy"
      | xsd:string "Ucirc"
      | xsd:string "mcy"
      | xsd:string "Lcedil"
      | xsd:string "tshcy"
      | xsd:string "Jukcy"
      | xsd:string "CHcy"
      | xsd:string "Lstrok"
      | xsd:string "AElig"
      | xsd:string "maru4"
      | xsd:string "Hstrok"
      | xsd:string "iacute"
      | xsd:string "Aacute"
      | xsd:string "ntilde"
      | xsd:string "romani"
      | xsd:string "inodot"
      | xsd:string "szlig"
      | xsd:string "romanXI"
      | xsd:string "Itilde"
      | xsd:string "dcaron"
      | xsd:string "Amacr"
      | xsd:string "kcy"
      | xsd:string "Sacute"
      | xsd:string "hcirc"
      | xsd:string "Jcirc"
      | xsd:string "Odblac"
      | xsd:string "eogon"
      | xsd:string "Ecirc"
      | xsd:string "Iacute"
      | xsd:string "maru10"
      | xsd:string "maru3"
      | xsd:string "cacute"
      | xsd:string "Ouml"
      | xsd:string "tcedil"
      | xsd:string "maru2"
      | xsd:string "amacr"
      | xsd:string "yucy"
      | xsd:string "ncy"
      | xsd:string "tscy"
      | xsd:string "itilde"
      | xsd:string "romanVI"
      | xsd:string "Yuml"
      | xsd:string "Jcy"
      | xsd:string "aogon"
      | xsd:string "ucirc"
      | xsd:string "romanvi"
      | xsd:string "Ubreve"
      | xsd:string "Umacr"
      | xsd:string "ucy"
      | xsd:string "Zcaron"
      | xsd:string "Ntilde"
      | xsd:string "Oacute"
      | xsd:string "imacr"
      | xsd:string "YIcy"
      | xsd:string "romanxi"
      | xsd:string "Uuml"
      | xsd:string "Icirc"
      | xsd:string "Dcaron"
      | xsd:string "Uogon"
      | xsd:string "SOFTcy"
      | xsd:string "kcedil"
      | xsd:string "GJcy"
      | xsd:string "ncaron"
      | xsd:string "SHcy"
      | xsd:string "yacute"
      | xsd:string "romanc"
      | xsd:string "HARDcy"
      | xsd:string "Ycy"
      | xsd:string "iuml"
      | xsd:string "kjcy"
      | xsd:string "DZcy"
      | xsd:string "acirc"
      | xsd:string "scaron"
      | xsd:string "Cacute"
      | xsd:string "iogon"
      | xsd:string "Rcedil"
      | xsd:string "maru15"
      | xsd:string "nacute"
      | xsd:string "romaniv"
      | xsd:string "maru8"
      | xsd:string "agrave"
      | xsd:string "maru14"
      | xsd:string "sacute"
      | xsd:string "hstrok"
      | xsd:string "Edot"
      | xsd:string "LJcy"
      | xsd:string "gjcy"
      | xsd:string "Ocy"
      | xsd:string "jcirc"
      | xsd:string "dstrok"
      | xsd:string "maru9"
      | xsd:string "racute"
      | xsd:string "igrave"
      | xsd:string "KJcy"
      | xsd:string "zacute"
      | xsd:string "Gbreve"
      | xsd:string "romanv"
      | xsd:string "romanIV"
      | xsd:string "iocy"
      | xsd:string "maru16"
      | xsd:string "gcirc"
      | xsd:string "shchcy"
      | xsd:string "vcy"
      | xsd:string "romand"
      | xsd:string "aring"
      | xsd:string "gbreve"
      | xsd:string "jcy"
      | xsd:string "romanC"
      | xsd:string "romanIX"
      | xsd:string "Atilde"
      | xsd:string "Tcaron"
      | xsd:string "romanx"
      | xsd:string "Otilde"
      | xsd:string "yuml"
      | xsd:string "romanvii"
      | xsd:string "tstrok"
      | xsd:string "maru17"
      | xsd:string "Aogon"
      | xsd:string "hardcy"
      | xsd:string "Zacute"
      | xsd:string "gdot"
      | xsd:string "egrave"
      | xsd:string "romanVIII"
      | xsd:string "lcy"
      | xsd:string "njcy"
      | xsd:string "odblac"
      | xsd:string "khcy"
      | xsd:string "utilde"
      | xsd:string "Lcaron"
      | xsd:string "DScy"
      | xsd:string "yacy"
      | xsd:string "ycy"
      | xsd:string "maru11"
      | xsd:string "Eacute"
      | xsd:string "emacr"
      | xsd:string "Zcy"
      | xsd:string "maru12"
      | xsd:string "Eogon"
      | xsd:string "Aring"
      | xsd:string "Pcy"
      | xsd:string "romanix"
      | xsd:string "YUcy"
      | xsd:string "softcy"
      | xsd:string "tcaron"
      | xsd:string "Ecy"
      | xsd:string "icy"
      | xsd:string "Kcedil"
      | xsd:string "IJlig"
      | xsd:string "ocy"
      | xsd:string "tcy"
      | xsd:string "zhcy"
      | xsd:string "Scaron"
      | xsd:string "Auml"
      | xsd:string "maru18"
      | xsd:string "yicy"
      | xsd:string "Ncy"
      | xsd:string "Uring"
      | xsd:string "ycirc"
      | xsd:string "bcy"
      | xsd:string "Dcy"
      | xsd:string "Emacr"
      | xsd:string "eacute"
      | xsd:string "Ograve"
      | xsd:string "scirc"
      | xsd:string "Ncedil"
      | xsd:string "uring"
      | xsd:string "Omacr"
      | xsd:string "jukcy"
      | xsd:string "Lcy"
      | xsd:string "umacr"
      | xsd:string "Mcy"
      | xsd:string "ZHcy"
    }?,
    attribute codepoint { xsd:string }?,
    xsd:string
  }
