lib/schema/given-programs.rnc

default namespace = "http://www.chorusroom.org/xml"

start =
  element givenPrograms {
    element contestName { xsd:string },
    element contestYear { xsd:positiveInteger },
    element givenProgram {
      element givenProgramNumber { xsd:ID },
      piece
    }+
  }

piece = external "piece.rnc"
