lib/dtd/resource.dtd

<!-- Generated by Relaxer 0.16.1 -->
<!-- Fri Aug 23 00:23:02 GMT-09:00 2002 -->

<!ELEMENT resourceRef EMPTY>
<!ATTLIST resourceRef name CDATA #IMPLIED>

<!ELEMENT resource EMPTY>
<!ATTLIST resource name CDATA #REQUIRED>
<!ATTLIST resource value CDATA #REQUIRED>

<!ELEMENT resources (resource+)>
<!-- $Id: resource.dtd,v 1.2 2002/08/26 07:27:23 kunishi Exp $ -->
<!ATTLIST resources xmlns CDATA #FIXED "http://www.chorusroom.org/resource">
