lib/dtd/resource.dtd

<!-- Generated by Relaxer 0.16 -->
<!-- Sat Jan 26 12:37:14 JST 2002 -->

<!ELEMENT resourceRef EMPTY>
<!ATTLIST resourceRef name CDATA #IMPLIED>

<!ELEMENT resource EMPTY>
<!ATTLIST resource name CDATA #REQUIRED>
<!ATTLIST resource value CDATA #REQUIRED>

<!ELEMENT resources (resource+)>
<!ATTLIST resources xmlns CDATA #FIXED "http://www.chorusroom.org/resource">
